/*work sans font*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Merriweather:wght@900&family=Open+Sans:wght@800&family=Work+Sans:wght@400;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

.header-container {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;

}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

.banner-title {
    color: #131313;
    text-align: center;
    font-size: 54px;
    font-weight: 700;
}

.banner-description {
    text-align: center;
    font-size: 16px;
    font-weight: 400;

}

.btn-primary{
    color: #FFF;
    margin-left: 350px;
    padding: 12px;
    border-radius: 5px;
    background-color: #FF900E;
}

.banner-image{
    max-width: 100%;
    margin-top: 50px;
}





@media screen and (max-width: 576px) {
    .header-container{
        padding: 20px;
    }
    .btn-primary{
        margin-left: 200px;
    }
    .nav-container{
        flex-direction: column;
    }

    
}